@model JNCC.Microsite.SAC.Models.Website.Page
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="x-version" content="x-version-stamp">
        @if (! String.IsNullOrEmpty(Model.GeneratorConfig.GoogleTagMangerId)) 
        {
        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','@Model.GeneratorConfig.GoogleTagMangerId');
        </script>
        <!-- End Google Tag Manager -->
        }
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="@(Model.MetaDescription)">
        <meta name="keywords" content="@(String.Join(',', Model.MetaKeywords))">
        <title>@(Model.Title)</title>
        <link rel="stylesheet" href="/frontend/css/app.css">
        <link rel="stylesheet" href="/frontend/css/site.css">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.0/js/foundation.min.js"></script>
        @if (Model.GeneratorConfig.CookieConsentControl)
        {
        <script src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.x.min.js" type="text/javascript"></script>
        <script src="/scripts/cookie-consent.js"></script>
        }
        <script src="/frontend/js/app.js"></script>
    </head>
    <body>
        @if (! String.IsNullOrEmpty(Model.GeneratorConfig.GoogleTagMangerId)) 
        {
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','@Model.GeneratorConfig.GoogleTagMangerId');</script>
            <!-- End Google Tag Manager -->
        }
        <div id="wrapper">
            <a class="accessibility" href="#main" accesskey="S">Skip to Content</a>
            <header id="header">
                <div class="container">
                    <strong class="logo">
                        <a href="https://jncc.gov.uk" accesskey="1"><img src="/images/logo.png" alt="JNCC"></a>
                    </strong>
                    <form action="https://jncc.gov.uk/search" role="search" class="top-bar search-form input-group" id="search-form" novalidate="novalidate" data-animate="hinge-in-from-top spin-out">
                        <label for="search-field" class="show-for-sr" accesskey="4">Search:</label>
                        <input type="search" name="q" placeholder="Search jncc.gov.uk" class="input-group-field" id="search-field">
                        <button class="input-group-button" aria-label="search-button"><i class="icon-search"></i></button>
                    </form>
                    <div class="show-for-small-only">
                        <div class="title-bar" data-responsive-toggle="search-form" data-hide-for="medium">
                            <button type="button" class="search-opener" data-toggle="search-form" aria-label="search-opener"><i class="icon-search"></i></button>
                        </div>
                        <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
                            <button type="button" class="nav-opener" data-toggle="menu" data-responsive-toggle="menu" aria-label="navigation-opener"><span></span></button>
                        </div>
                    </div>
                </div>
                @{
                    await Html.RenderPartialAsync("Shared/_Navbar", Model);
                }
            </header>

            <p class="container show-for-small-only" style="margin-bottom: 1.5rem;">
                <i class="fas fa-database fa-fw"></i> Special Areas of Conservation
            </p>

            <main id="main" style="margin-bottom:5rem;">
                @if (Model.HeroImage) {
                    @RenderBody()
                } else {
                    <div class="container">
                        @{
                            if (Model.DisplayBreadcrumb) {
                                await Html.RenderPartialAsync("Shared/_Breadcrumb", Model.Breadcrumbs);
                            }
                            else
                            {
                                <div class="section"></div>
                            }
                        }
                        @RenderBody()
                    </div>
                }
            </main>
            @{
                await Html.RenderPartialAsync("Shared/_Footer");
            }
        </div>
    </body>
</html>
