@model JNCC.Microsite.SAC.Models.Website.Page
<!DOCTYPE html>
<html lang="en">
    <head>
        @if (! String.IsNullOrEmpty(Model.GeneratorConfig.GoogleAnalyticsId)) 
        {
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=@Model.GeneratorConfig.GoogleAnalyticsId"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '@Model.GeneratorConfig.GoogleAnalyticsId');
        </script>
        }
        @if (! String.IsNullOrEmpty(Model.GeneratorConfig.GoogleTagMangerId)) 
        {
        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','@Model.GeneratorConfig.GoogleTagMangerId');
        </script>
        <!-- End Google Tag Manager -->
        }
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="@(Model.MetaDescription)">
        <meta name="keywords" content="@(String.Join(',', Model.MetaKeywords))">
        <title>@(Model.Title)</title>
        <link rel="stylesheet" href="/frontend/css/app.css">
        <link rel="stylesheet" href="/frontend/css/site.css">
        <link rel="stylesheet" type="text/css" href="/frontend/css/cookieconsent2/3.1.0/cookieconsent.min.css" />
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.0/js/foundation.min.js"></script>
        <script src="/frontend/js/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
        <script src="/frontend/js/app.js"></script>
    </head>
    <body>
        @if (! String.IsNullOrEmpty(Model.GeneratorConfig.GoogleTagMangerId)) 
        {
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=@Model.GeneratorConfig.GoogleTagMangerId" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        }
        <noscript>
            <div>Javascript must be enabled for the correct page display</div>
        </noscript>
        <div id="wrapper">
            <a class="accessibility" href="#main" accesskey="S">Skip to Content</a>
            <header id="header">
                <div class="container">
                    <strong class="logo">
                        <a href="https://jncc.gov.uk" accesskey="1"><img src="/images/logo.png" alt="JNCC"></a>
                    </strong>
                    <h3 class="show-for-medium show-for-large" style="float:right">Special Areas of Conservation</h3>
                    <h3 class="show-for-small-only" style="padding-top: 1rem; float:right">SACs</h3>                    
                    <form action="https://jncc.gov.uk/search" role="search" class="top-bar search-form input-group" id="search-form" novalidate="novalidate" data-animate="hinge-in-from-top spin-out">
                        <label for="search-field" class="show-for-sr" accesskey="4">Search:</label>
                        <input type="search" name="q" placeholder="Search jncc.gov.uk" class="input-group-field" id="search-field">
                        <button class="input-group-button" aria-label="search-button"><i class="icon-search"></i></button>
                    </form>
                    <div class="show-for-small-only">
                        <div class="title-bar" data-responsive-toggle="search-form" data-hide-for="medium">
                            <button type="button" class="search-opener" data-toggle="search-form" aria-label="search-opener"><i class="icon-search"></i></button>
                        </div>
                        <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
                            <button type="button" class="nav-opener" data-toggle="menu" data-responsive-toggle="menu" aria-label="navigation-opener"><span></span></button>
                        </div>
                    </div>
                </div>
                @{
                    await Html.RenderPartialAsync("Shared/_Navbar", Model);
                }
            </header>
            <main id="main">
                @if (Model.HeroImage) {
                    @RenderBody()
                } else {
                    <div class="container">
                        @{
                            if (Model.DisplayBreadcrumb) {
                                await Html.RenderPartialAsync("Shared/_Breadcrumb", Model.Breadcrumbs);
                            }
                        }
                        @RenderBody()
                    </div>
                }
            </main>
            @{
                await Html.RenderPartialAsync("Shared/_Footer");
            }
        </div>

        <!-- Cookie Consent Setup -->
        <script>
            window.addEventListener("load", function(){
            window.cookieconsent.initialise({
                "cookie": {
                    "name": "cookiePolicyAcceptance",
                    "domain": ".jncc.gov.uk"
                },
                "content": {
                    "message":"Our website uses cookies - by continuing to browse our website you are agreeing to our ",
                    "link": "use of cookies.",
                    "href": "https://jncc.gov.uk/about-jncc/corporate-information/cookie-policy/"
                },            
                "palette": {
                    "popup": {
                        "background": "#efefef",
                        "text": "#404040"
                    },
                    "button": {
                        "background": "#218838",
                        "text": "#ffffff"
                    }
                },
                "position": "top",
                "static": true,
                "dismissOnScroll": 1,
                "dismissOnWindowClick": true,
                "dismissOnTimeout": "10"
            })});  
        </script>        
    </body>
</html>