@model JNCC.Microsite.SAC.Models.Data.SiteFeature
@using JNCC.Microsite.SAC.Helpers.Website

<li>
    <div>
        <b>
            @(InterestFeatureHelpers.GetPlainIntegerCode(Model.Code))
            <a href=@(InterestFeatureHelpers.GetFeatureUrl(Model.Code))>@(Model.LayTitle)</a>
        </b>
        <i>@(Model.Name)</i>
        
    </div>
    @{
        if (Model.IsPrimary) {
            if (!String.IsNullOrWhiteSpace(Model.PrimaryText)) {
                @Html.Raw(String.Format("<p>{0}</p>", Model.PrimaryText));
            } else {
                @Html.Raw("<p>Habitat occurrence description not yet available.</p>");
            }
        }
    }
</li>