@model JNCC.Microsite.SAC.Models.Website.InterestFeaturePage
@using JNCC.Microsite.SAC.Website.Helpers

@{
    Layout = "Shared/_Layout.cshtml";
    var primaryOccurences = InterestFeatureHelpers.GetInterestFeatures(Model.InterestFeature.Occurrences, true);
    var secondaryOccurences = InterestFeatureHelpers.GetInterestFeatures(Model.InterestFeature.Occurrences, false);
}

<h2>Habitat account - @(Model.InterestFeature.SectionTitle)</h2>
<h4>@(InterestFeatureHelpers.GetPlainIntegerCode(Model.InterestFeature.Code)) @Html.Raw(Model.InterestFeature.Name)</h4>
<div class="cell large-4 small-12 float-right">
    <figure>
        <img src="/images/maps/features/thumbnails/@(Model.InterestFeature.Code)_thumb.gif" />
        <figcaption style="font-size: small;">Distribution of SACs/SCIs/cSACs with habitat <b>@(InterestFeatureHelpers.GetPlainIntegerCode(Model.InterestFeature.Code))</b> @(Html.Raw(Model.InterestFeature.Name)). Click image for enlarged map.</figcaption>
    </figure>
</div>
<h4>Background to selection</h4>
<a href=@(InterestFeatureHelpers.GetUkResourceURL(Model.InterestFeature.Code, true))>UK resource for this habitat</a>
<a href=@(InterestFeatureHelpers.GetCompareUKDistributionURL(Model.InterestFeature.Code, true))>Compare with UK distribution</a>
	
<h4>Description and ecological characteristics</h4>
<p>@Html.Raw(Model.InterestFeature.FeatureDescription)</p>

<h4>European status and distribution</h4>
<p>@Html.Raw(Model.InterestFeature.EUStatus)</p>

<h4>UK status and distribtution</h4> 
<p>Click <a href=@(InterestFeatureHelpers.GetUkResourceURL(Model.InterestFeature.Code, true))>here</a> view UK distribution of this species</p>
<p>@Html.Raw(Model.InterestFeature.UKStatus)</p>

@if (!String.IsNullOrWhiteSpace(Model.InterestFeature.Rationale)) {
    Html.Raw("<h4>Site Selection Rationale</h4>");
    Html.Raw(String.Format("<p>{0}</p>", Model.InterestFeature.Rationale));
}

@if (!String.IsNullOrWhiteSpace(Model.InterestFeature.Rationale)) {
    Html.Raw("<h4>Site Selection Rationale</h4>");
    Html.Raw(String.Format("<p>{0}</p>", Model.InterestFeature.Rationale));
}

<h4>Site Accounts</h4>
@foreach (var site in primaryOccurences) {
    site.IsHabitat = true;
    await Html.RenderPartialAsync("Partials/_InterestFeaturePrimarySite", site);
}

<h4>SACs where this Annex I habitat is a qualifying feature, but not a primary reason for site selection</h4>
@foreach (var site in secondaryOccurences) {
    await Html.RenderPartialAsync("Partials/_InterestFeatureSecondarySite", site);
}

<div class="container" style="padding-left: 0; padding-right: 0">
    <p><i>Many designated sites are on private land: the listing of a site in these pages does not imply any right of public access.</i></p>
</div>