@model JNCC.Microsite.SAC.Models.Data.InterestFeature
@using JNCC.Microsite.SAC.Website.Helpers

@{
    var primaryOccurences = InterestFeatureHelpers.GetInterestFeatures(Model.Occurrences, true);
    var secondaryOccurences = InterestFeatureHelpers.GetInterestFeatures(Model.Occurrences, false);
}

<h2>Habitat account - @(Model.SectionTitle)</h2>
<h4>@(InterestFeatureHelpers.GetPlainIntegerCode(Model.Code)) @(Model.Name)</h4>
<h4>Background to selection</h4>
<a href=@(InterestFeatureHelpers.GetUkResourceURL(Model.Code, true))>UK resource for this habitat</a>
<a href=@(InterestFeatureHelpers.GetCompareUKDistributionURL(Model.Code, true))>Compare with UK distribution</a>
	
<h5>Description and ecological characteristics</h5>
<p>@Html.Raw(Model.FeatureDescription)</p>

<h5>European status and distribution</h5>
<p>@Html.Raw(Model.EUStatus)</p>

<h5>UK status and distribtution</h5> 
<p>Click <a href=@(InterestFeatureHelpers.GetUkResourceURL(Model.Code, true))>here</a> view UK distribution of this species</p>
<p>@Html.Raw(Model.UKStatus)</p>

@if (!String.IsNullOrWhiteSpace(Model.Rationale)) {
    Html.Raw("<h5>Site Selection Rationale</h5>");
    Html.Raw(String.Format("<p>{0}</p>", Model.Rationale));
}

@if (!String.IsNullOrWhiteSpace(Model.Rationale)) {
    Html.Raw("<h5>Site Selection Rationale</h5>");
    Html.Raw(String.Format("<p>{0}</p>", Model.Rationale));
}

<h4>Site Accounts</h4>
@foreach (var site in primaryOccurences) {
    site.IsHabitat = true;
    await Html.RenderPartialAsync("Partials/_InterestFeaturePrimarySite", site);
}

<h4>SACs where this Annex II species is a qualifying feature, but not a primary reason for site selection</h4>
@foreach (var site in secondaryOccurences) {
    await Html.RenderPartialAsync("Partials/_InterestFeatureSecondarySite", site);
}

<p><i>Many designated sites are on private land: the listing of a site in these pages does not imply any right of public access.</i></p>