@model JNCC.Microsite.SAC.Models.Website.InterestFeaturePage
@using JNCC.Microsite.SAC.Website.Helpers;
@{
    Layout = "Shared/_Layout.cshtml";
}

<h1>@(Model.InterestFeature.SectionTitle)</h1>
<h2>Comparison of UK resource and SAC distribution of @(InterestFeatureHelpers.GetAnnexString(Model.InterestFeature.Code)) @(InterestFeatureHelpers.GetPlainIntegerCode(Model.InterestFeature.Code)) @(Html.Raw(Model.InterestFeature.LayTitle)) @(Html.Raw(Model.InterestFeature.Name))</h2>
<div class="row">
    <div class="column small-12 medium-6 large-6">
        <figure>
            <img src="/images/maps/features/uk/uk_@(Model.InterestFeature.Code).gif" alt="@(InterestFeatureHelpers.GetUKDistributionAltImageText(Model.InterestFeature.Code, Model.InterestFeature.LayTitle, Model.InterestFeature.Name))" class="small-12 center"/>
            <figcaption class="text-center">View <a href="@(InterestFeatureHelpers.GetCompareUKDistributionURL(Model.InterestFeature.Code))">UK resource</a> for this @(InterestFeatureHelpers.IsHabitatCode(Model.InterestFeature.Code) ? "habitat" : "species")</figcaption>
        </figure>
    </div>
    <div class="column small-12 medium-6 large-6">
        <figure>
            <img src="/images/maps/features/@(Model.InterestFeature.Code).gif" alt="@(InterestFeatureHelpers.GetUKDistributionAltImageText(Model.InterestFeature.Code, Model.InterestFeature.LayTitle, Model.InterestFeature.Name))" class="small-12 center"/>
            <figcaption class="text-center">View <a href="@(InterestFeatureHelpers.GetFeatureUrl(Model.InterestFeature.Code))">SAC selection</a> for this @(InterestFeatureHelpers.IsHabitatCode(Model.InterestFeature.Code) ? "habitat" : "species")</figcaption>
        </figure>
    </div>
</div>
