@model JNCC.Microsite.SAC.Models.Website.InterestFeaturePage
@using JNCC.Microsite.SAC.Website.Helpers;
@{
    Layout = "Shared/_Layout.cshtml";
}

<h1>@(InterestFeatureHelpers.GetPlainIntegerCode(Model.InterestFeature.Code)) @Html.Raw(Model.InterestFeature.Name)</h1>
<h2>SAC/SCI/cSAC distribution</h2>
<p>Distribution of SACs/SCIs/cSACs containing species <a href="@(InterestFeatureHelpers.GetFeatureUrl(Model.InterestFeature.Code))">@(InterestFeatureHelpers.GetPlainIntegerCode(Model.InterestFeature.Code)) @(Html.Raw(Model.InterestFeature.Name))</a>.</p>
<div class="column large-8 large-centered medium-8 medium-centered small-12">
    <img src="/images/maps/features/@(Model.InterestFeature.Code).gif" alt="Distribution of SACs/SCIs/cSACs containing species @(InterestFeatureHelpers.GetPlainIntegerCode(Model.InterestFeature.Code)) @(Model.InterestFeature.Name)." class="small-12 center"/>
</div>
<table>
    <tr>
        <td></td>
        <td><th>Explanation of Grades</th></td>
    </tr>
    <tr>
        <td><th>A</th></td>
        <td>Outstanding examples of the feature in a European context.</td>
    </tr>
    <tr>
        <td><th>B</th></td>
        <td>Excellent examples of the feature, significantly above the threshold for SSSI/ASSI notification but of somewhat lower value than grade A sites.</td>
    </tr>
    <tr>
        <td><th>C</th></td>
        <td>Examples of the feature which are of at least national importance (i.e. usually above the threshold for SSSI/ASSI notification on terrestrial sites) but not significantly above this. These features are not the primary reason for SACs being selected.</td>
    </tr>
    <tr>
        <td><th>D</th></td>
        <td>Features of below SSSI quality occurring on SACs These are non-qualifying features (“non-significant presence”), indicated by a letter D, but this is not a formal global grade.</td>
    </tr>            
</table>