@model JNCC.Microsite.SAC.Models.Website.SiteList
@{
    Layout = "Shared/_Layout.cshtml";
}

<h1>@(Model.HeaderText)</h1>

@{
    await Html.RenderPartialAsync("Shared/_CountryList.cshtml");
}

@Html.Raw(Model.SubjectHTML)

@foreach (var region in Model.RegionalSites)
{   
    @(Html.Raw("<div class=\"row\"><table class=\"scroll\">"))
    <tr>
        <th class="medium-1">EU Code</th>
        <th class="medium-4">Name</th>
        <th class="medium-1">Country</th>
        <th class="medium-4">Local Authority</th>
        <th class="medium-1">Area (ha)</th>
        <th class="medium-1">Status</th>
    </tr>
    foreach(var site in region.Sites) {
        <tr>
            <td><a href="/site/@(site.EUCode)">@(site.EUCode)</a></td>
            <td>@(site.Name)</td>
            <td class="text-center">@(site.Country)</td>
            <td>@(site.LocalAuthority)</td>
            <td class="text-center">@(site.Area)</td>
            <td class="text-center">@(site.StatusShort)</td>
        </tr>
    }
    @(Html.Raw("</table></div>"))
}

<h4>Key to site status abbreviations</h4>
<ul>
    <li><b>SAC</b> = Special Area of Conservation</li>
    <li><b>SCI</b> = Site of Community Importance</li>
    <li><b>cSAC</b> = Candidate Special Area of Conservation</li>
    <li><b>pSAC</b> = Possible Special Area of Conservation</li>
</ul>

<p>Site area and location information for pSACs where available, is provisional. Descriptive site details are not available for pSACs.</p>
<!--<p><a title="Explanation of site status" href="https://jncc.gov.uk/our-work/special-areas-of-conservation-sacs/#sac-network-summary">Click for explanation of what the above terms mean</a></p>-->
<p><a title="Explanation of site status" href="http://archive.jncc.gov.uk/page-1456" target="_blank">Click for explanation of what the above terms mean</a></p>
