@model JNCC.Microsite.SAC.Models.Website.SiteList
@{
    Layout = "Shared/_Layout.cshtml";
}

<h1>@(Model.HeaderText)</h1>

@{
    await Html.RenderPartialAsync("Shared/_CountryList.cshtml");
}

@Html.Raw(Model.SubjectHTML)

@foreach (var region in Model.RegionalSites)
{   
    @(Html.Raw("<div class=\"row table-scroll\"><table>"))
    <tr>
        <th class="medium-1">EU Code</th>
        <th class="medium-4">Name</th>
        <th class="medium-1">Country</th>
        <th class="medium-4">Local Authority</th>
        <th class="medium-1">Area (ha)</th>
        <th class="medium-1">Status</th>
    </tr>
    foreach(var site in region.Sites) {
        <tr>
            <td><a href="/site/@(site.EUCode)">@(site.EUCode)</a></td>
            <td>@(site.Name)</td>
            <td class="text-center">@(site.Country)</td>
            <td>@(site.LocalAuthority)</td>
            <td class="text-center">@(site.Area)</td>
            <td class="text-center">@(site.StatusShort)</td>
        </tr>
        //@Html.Raw(String.Format("<tr><td><a href=\"/site/{0}\">{1}</a></td><td>{2}</td><td>{3}</td><td>{4}</td><td>{5}</td><td>{6}</td></tr>\n", site.EUCode, site.EUCode, site.Name, site.Country, site.LocalAuthority, site.Area, site.StatusShort))
    }
    @(Html.Raw("</table></div>"))
}
