@model JNCC.Microsite.SAC.Models.Website.InterestFeaturePage
@using JNCC.Microsite.SAC.Helpers.Website;

@{
    Layout = "Shared/_Layout.cshtml";
    var primaryOccurences = InterestFeatureHelpers.GetInterestFeatures(Model.InterestFeature.Occurrences, true);
    var secondaryOccurences = InterestFeatureHelpers.GetInterestFeatures(Model.InterestFeature.Occurrences, false);
}

<div class="section">
    <h1>
        <span class="entity-code">@(Model.InterestFeature.Code.Substring(1))</span>
        <span class="space-right">@(Html.Raw(Model.InterestFeature.LayTitle))</span>
        @(Html.Raw(Model.InterestFeature.Name))
    </h1>
    <div>
        <i class="fas fa-ellipsis-v space-right"></i>
        <b>@(Model.InterestFeature.SectionTitle)</b>
    </div>
</div>

<div class="row">
    <div class="cell medium-6 large-8">
        @* <div class="section-small">
            <a class="button" href="@(InterestFeatureHelpers.GetDistributionURL(Model.InterestFeature.Code))">
                <i class="fas fa-map-marker"></i>
                UK distribution for this species
            </a>
            <a class="button" href="@(InterestFeatureHelpers.GetCompareDistributionURL(Model.InterestFeature.Code))">
                <i class="fas fa-map-marker-alt"></i>
                Compare with UK distribution
            </a>
        </div> *@
        <div class="section">        
            <h2>Description and ecological characteristics</h2>
            <p>@(Html.Raw(Model.InterestFeature.FeatureDescription))</p>
        </div>
    </div>
    <div class="cell medium-6 large-4">
        <figure>
            <a href="@(InterestFeatureHelpers.GetMapURL(Model.InterestFeature.Code))">
                <img src="/images/maps/features/thumbnails/@(Model.InterestFeature.Code)_thumb.gif" />
            </a>
            <figcaption style="font-size:small; padding:0 2rem; max-width:30rem;">Distribution of SACs/SCIs/cSACs with species <b>@(InterestFeatureHelpers.GetPlainIntegerCode(Model.InterestFeature.Code))</b> @(Html.Raw(Model.InterestFeature.Name)). Click image for enlarged map.</figcaption>
        </figure>
    </div>
</div>

<div class="section">
    <h2>European status and distribution</h2>
    <p>@Html.Raw(Model.InterestFeature.EUStatus)</p>
</div>

<div class="section">
    <h2>UK status and distribution</h2> 
    <p>@(Html.Raw(Model.InterestFeature.UKStatus))</p>
    <p>View <a href=@(InterestFeatureHelpers.GetMapURL(Model.InterestFeature.Code))>UK distribution of this species</a>.</p>

    @if (!String.IsNullOrWhiteSpace(Model.InterestFeature.Rationale))
    {
        <h2>Site selection rationale</h2>
        <p>@(StringHelpers.RemoveHTMLTags(Model.InterestFeature.Rationale).Trim())</p>
    }
</div>

<div class="section">
    <h2>Site accounts</h2>
    <ul>
    @foreach (var site in primaryOccurences) {
        site.IsSpecies = true;
        await Html.RenderPartialAsync("Partials/_InterestFeaturePrimarySite", site);
    }
    </ul>
</div>

@if (secondaryOccurences.Any())
{
    <div class="section">
        <h2>SACs where this Annex II species is a qualifying feature, but not a primary reason for site selection</h2>
        <ul>
        @foreach (var site in secondaryOccurences) {
            await Html.RenderPartialAsync("Partials/_InterestFeatureSecondarySite", site);
        }
        </ul>
    </div>
}

<p><i>Many designated sites are on private land: the listing of a site in these pages does not imply any right of public access.</i></p>
<p><i>Please note that the map shows sites where the presence of a feature is classed as ‘grade d’, but these sites are not listed. This is because ‘grade d’ indicates a non-significant presence.</i></p>
